@using BestRestaurants.Models;

<h1>Cuisine</h1>

@if (Model.Count == 0)
{
    <h3>There are no cusines listed</h3>
}

<ul>
    @foreach (Cusine cusine in Model)
    {
      <li>
            @Html.ActionLink($"{cusine.Name}", "Details", new { id = cusine.CusineId})
      </li>
    }
</ul>
