@using BestRestaurants.Models;

<title>Best restaurants</title>
<h1>Welcome to your restaurant list!</h1>

<p>@Html.ActionLink("See Restaurants", "Index", "Restaurant")</p>
<p>@Html.ActionLink("See Cuisines", "Index", "Cuisine")</p>

